@model ExpenditureDto

@{
    ViewBag.Title = "Edit Expenditure";
}

@if (Model.Id > 0)
{
    <h5>@ViewData["Title"]</h5>
}
else
{
    <h5>Add new category</h5>
}
<form asp-action="EditExpenditures" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Sum"></label>
        <div><span asp-validation-for="Sum" class="text-danger"></span></div>
        <input asp-for="Sum" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Delete" class="btn btn-secondary">Delete</a>
    </div>
</form>

