@using axy.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <form method="post" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <label for="formGroupExampleInput">Date time</label>
                    <input type="date" class="form-control" id="formGroupExampleInput" name="CurrentData">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Sum</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" name="Cost" placeholder="Sum">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" name="IsIncome">Receipts/Expenditures </label>
                </div>
                <br /><br />
                <label for="formGroupExampleInput">Name</label><br />
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02">
                        @if (Model!= null)
                        {
                            @foreach (var itemIndex in Model.GetCategories)
                            {
                                <option value="itemIndex.Id">@itemIndex.Name</option>
                            }
                        }

                    </select>                  
                  
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">Edit</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Sum</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="Description" placeholder="Add description">
                </div>
                <br />
                <input type="submit" class="btn btn-warning btn-lg" value="Save" />
            </form>
        </div>
        @if (Model!= null && Model.GetCategories.Count > 0)
        {
           @foreach (var item in Model.GetCategories)
            {
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled text-left">
                            <li>Current balans:@item.Income</li>
                            <li>Savings for this month:@item.Cost</li>
                            <li>Balance at the beginning of the month:</li>
                        </ul>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <ul class="list-unstyled text-left">
                        <li>Current balans: 0</li>
                        <li>Savings for this month: 0</li>
                        <li>Balance at the beginning of the month: 0</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>


 