
@model axy.Models.ModelVueHome
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <form method="post" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <label for="formGroupExampleInput">Date time</label>
                    <input type="date" class="form-control" id="formGroupExampleInput" name="CurrentData">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Sum</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" name="Cost" placeholder="Sum">
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input"asp-for="IsIncome" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" name="IsIncome">Receipts/Expenditures </label>
                </div>
                <br /><br />
                <label for="formGroupExampleInput">Category</label><br />
                <div class="input-group mb-3">
                    <select class="custom-select" asp-for="Id"  asp-items="ViewBag.Categories">
                        <option value=""> Choose an option</option>                     
                    </select>            

                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">
                            <a asp-action="Categories">
                                Edit
                            </a>
                        </label>

                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Description</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="Description" placeholder="Add description">
                </div>
                <br />
                <input type="submit" class="btn btn-warning btn-lg" value="Save" />
            </form>
        </div>
      
        <div class="card">
            <div class="card-body">
                <ul class="list-unstyled text-left">
                    <li>Current balans: 0</li>
                    <li>Savings for this month: 0</li>
                    <li>Balance at the beginning of the month: 0</li>
                </ul>
            </div>
        </div>
        }
    </div>
</div>


