
@{
    ViewData["Title"] = "Reports";
}
<h1>@ViewData["Title"]</h1>

<div class="row d-flex  justify-content-center m-sm-12">
    <figure class="pie-chart">
        <h2>Balance</h2>
        <figcaption>
           Receipts 38<span style="color:#4e79a7"></span><br>
           expenditures 16<span style="color:#e15759"></span>
        </figcaption>
        <cite>Axy</cite>
    </figure>
</div>
